@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss" important;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-boxs;
  font-family: "Inter", sans-serif;
}
main {
  background-color: white;
  height: 100vh;
  width: 100vw;
  background-image: url("./viko_eif.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

@layer components {
  .btn-primary {
    @apply text-sm sm:text-lg px-1 sm:px-2 py-2 bg-black rounded text-white m-1 shadow-[5px_5px_10px_rgba(2,2,2,0.7)];
  }
}
