.today-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.timetable {
  width: 50%;
  height: 80vh;
  margin: 5%;
  position: relative;
  /* From https://css.glass */
  background: rgba(40, 35, 35, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.8px);
  -webkit-backdrop-filter: blur(2.8px);
  border: 1px solid rgba(40, 35, 35, 1);
  box-shadow: -8px -8px 1px rgba(2, 2, 2, 0.7);
}
/* .today-container button,
select {
  border: none;
  padding: 10px 5px;
  color: black;
  margin: 5px;
  box-shadow: 5px 5px 5px rgba(2, 2, 2, 0.7);
  cursor: pointer;
} */

.camera-nosile {
  height: 30px;
  width: 120px;
  margin: 10px auto;
  /* From https://css.glass */
  background: black;
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.8px);
  -webkit-backdrop-filter: blur(2.8px);
  border: 1px solid rgba(21, 21, 21, 1);
}
.lecture-container {
  /* position: absolute; */
  margin: 0 auto;
  overflow: scroll;
  width: 95%;
  background: rgb(8, 8, 8);
  color: white;
  border-radius: 20px 20px 0 0;
  box-shadow: 10px 10px 10px gray;
}
.title-info {
  margin: 10px;
}

.lecture,
.no-lecture {
  background-color: gray;
  color: black;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  flex-grow: 1;
  position: relative;
}

.info::after {
  content: var(--changed-info, "Changed! Check with teacher for details!");
  position: absolute;
  text-align: center;
  color: white;
  top: 40%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  font-weight: bolder;
}
.info {
  background-color: gray;
}
.no-lecture::after {
  content: var(--lecture-info, "No lecture");
  position: absolute;
  text-align: center;
  color: white;
  top: 40%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  font-weight: bolder;
  transform: rotate(5deg);
}
.no-lecture {
  background-color: #aeb3b3;
  opacity: 0.33;
}
